@media screen and (max-width:576px) {
    .hdr{
        background-image: url(./images/players/5205447.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .filtr{
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.62);
    }

    .nav-main{
        visibility: hidden;
    }

    .bnr{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 10px 0 10px;
   }

    .bnr h1{
        color: rgb(201, 232, 228);
        font-size: 47px;
        font-weight: 900;
       }

       .bnr-img{
       visibility: hidden;
      }  

      .btn {
        background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
        margin: 30px 0 0 0;
        padding: 10px 50px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(201, 232, 228);            
        border-radius: 10px;
        font-size: 18px;
      }
    
      .btn:hover {
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
      }
     
      .eyes{
        margin-right: 5px;
      }




      .sec-1{
        flex-direction: column;
        margin: 100px 25px;
        overflow: hidden;
        padding: 0;
        text-align: center;
      } 

      .sect-1-texts{
        width: 100%;
      }

      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 30px;
      }

      .sect-1-texts h1{
        color: #1f232c;
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        padding: 0;
        margin: 15px 0 25px 0;
      }
     
      .b1{
        display: none;
      }

      .sect-1-texts h4{
        display: none;
      }

      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .sec-1-img{
        flex-direction: column;
        padding-top: 0;
        gap: 0;
      }

      .sec-1-container img{
        width: 100%;
        height: 100%;
        margin-top: 20px;
      }

      .sec-1-container video{
        width: 100%;
        height: 100%;
        margin: 70px 0 30px 0;
      }



      .sec-2-bg{
        display: none;
      }




    .sec-3{
      display: none;
    }




    .sec-4{
      flex-direction: column;
      width: 100%;
      padding-inline: 30px;
    }

    .sec-4-text{
      width: 400px;
      padding-inline: 30px;
 }

 .sec-4-text h1{
  font-size: 26px;
  font-weight: 600;
  padding-bottom: 10px;
}

.sec-4-text p{
  color: #626262;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 30px;
}

.sec-4-btn{
  background-color: #57bd6d;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 500;
  color: #1f232c;
}

.sec-4 img{
  width: 100%;
  height: 300px;
  margin-top: 50px;
}




footer{
  width: 100%;
  height: 585px;
  background-image: url(./images/players/soccer-players-action-professional-stadium.jpg);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(214, 214, 214);
}

.ftrs{
  background-color: rgba(0, 0, 0, 0.877);
  height: 585px;
  width: 100%;
}

.ftr-sec{
    flex-direction: column;
  padding-bottom: 30px;
}

.upper-text h1{
  font-size: 25px;
  padding-left: 10px;
}

.fifa-img{
  width: 70px;
  height: 50px;
}

.nd-texts h2{
  font-size: 20px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  color: #9ea89f;
}

.sponsors-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 30px 0 0 50px;
}


.third-texts{
  text-align: center;
  padding: 0;
  margin-top: 25px;
  color: #9ea89f;
}

.third-texts h1{
  font-size: 25px;
  font-weight: 900;
  color: #29a22e;
  margin-bottom: 5px;
}

.contact{
  display: none;
}

.last{
  text-align: center;
  padding-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9ea89f;
  font-size: 15px;
}

}



@media screen and (min-width:577px) and (max-width:768px) {
  
  .filtr{
    height: 100vh;
   background-color: rgba(0, 0, 0, 0.62);
}

.hdr{
    background-image: url(./images/m.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-sec{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.nav-li{
  display: flex;
  color: rgb(201, 232, 228);
  list-style: none;
  gap: 50px;
  font-size: 12px;
  align-items: center;
}

.nav-icon{
  width: 23px;
  height: 23px;
}

       
.icons-nav {
  background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
  transition: 0.5s;
  background-size: 200% auto;
  padding: 4px 20px;  
  gap: 3px; 
  font-size: 13px;
  align-items: center;
  border-radius: 5px;
  color: rgb(201, 204, 232);  
  display: flex;    
}

.icons-nav:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.nav-li{
  display: flex;
  color: rgb(201, 232, 228);
  list-style: none;
  gap: 50px;
  font-size: 14px;
  align-items: center;
}

.nav-li .hid {
  display: none;
}

.bnr{
  display: flex;
  justify-content: space-between;
  margin: 85px 30px 50px 20px;
  align-items: center;
 }

 .bnr-img{
  width: 380px;
  height: 225px;
}

.bnr h1{
  color: rgb(201, 232, 228);
  font-size: 32px;
  font-weight: 900;
 }

 .btn {
  background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
  margin: 30px 0 0 0;
  padding: 7px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(201, 232, 228);            
  border-radius: 5px;
  font-size: 14px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.eyes{
  margin-right: 4px;
}


.sec-1{
    flex-direction: column;
    margin: 100px 50px;
    overflow: hidden;
    padding: 0;
    text-align: center;
  } 

  .sect-1-texts{
    width: 100%;
  }

  .sect-1-texts h3{
    color: #57bd6d;
    font-weight: 600;
    font-size: 30px;
  }

  .sect-1-texts h1{
    color: #1f232c;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 15px 0 25px 0;
  }
 
  .b1{
    display: none;
  }

  .sect-1-texts h4{
    display: none;
  }

  .sect-1-texts p{
    color: #626262;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .p2{
    color: #626262;
    font-weight: lighter;
    font-size: 15px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .sec-1-img{
    flex-direction: column;
    padding-top: 0;
    gap: 0;
  }

  .sec-1-container img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }

  .sec-1-container video{
    width: 100%;
    height: 100%;
    margin: 70px 0 30px 0;
  }

   .sec-2-bg{
    background-image: url(./pexels-unknown-user-1657328.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    width: 100%;
  }

  .filtrs{
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.76);
  }

  .teams-cards{
    display: flex;  
    width: 70%;
    height: 35px;
    margin: 45px auto;
    justify-content: space-between;
    background-color: rgba(0, 0, 128, 0.082);
    box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(253, 253, 253, 0.39);
    z-index: 10;
    padding-inline: 10px;
    border-radius: 5px;
}

.v-cards{
    margin-top: 45px;
  }

.teams-cards h3{
    font-weight: 600;
    color: #a7c5c9;
    font-size: 11px;
}

.teams-cards .img-1{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.teams-cards .img-2{
    width: 55px;
    height: 65px;
}

.img-3{
    width: 55px;
    height: 65px;
}

.sec-3{
  display: none;
}


.sec-4{
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
}

.sec-4-text{
  width: 400px;
  padding-inline: 10px;
}

.sec-4-text h1{
font-size: 30px;
font-weight: 600;
padding-bottom: 10px;
}

.sec-4-text p{
color: #626262;
font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-bottom: 30px;
}

.sec-4-btn{
background-color: #57bd6d;
padding: 10px 35px;
border-radius: 5px;
font-weight: 500;
color: #1f232c;
}

.sec-4 img{
width: 100%;
height: 300px;
margin-top: 50px;
}



footer{
  width: 100%;
  height: 620px;
  background-image: url(./feet-soccer-player-with-soccer-ball-generative-ai_74760-3398.avif);
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(214, 214, 214);
}

.ftrs{
  background-color: rgba(0, 0, 0, 0.877);
  height: 620px;
  width: 100%;
}

.ftr-sec{
    flex-direction: column;
  padding-bottom: 30px;
}

.upper-text h1{
  font-size: 25px;
  padding-left: 10px;
}

.fifa-img{
  width: 70px;
  height: 50px;
}

.nd-texts h2{
  font-size: 25px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  color: #9ea89f;
}

.sponsors-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
}

.sponsors-img img{
  width: 100px;
}


.third-texts{
  text-align: center;
  padding: 0;
  margin-top: 10px;
  color: #9ea89f;
}

.third-texts h1{
  font-size: 30px;
  font-weight: 900;
  color: #29a22e;
  margin-bottom: 5px;
}

.contact{
  display: none;
}

.icons-ftr ul{
  display: flex;
  font-size: 25px;
  gap: 30px;
  color: #9ea89f;
  margin: 0 39%;
  padding: 20px 0 0 0;
  width: 50%;
}

.last{
  text-align: center;
  padding-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9ea89f;
  font-size: 15px;
}

}



@media screen and (min-width:769px) and (max-width:992px) {
    .filtr{
        height: 100vh;
       background-color: rgba(0, 0, 0, 0.667);
    }
    
    .hdr{
        background-image: url(./images/players/5205447.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    
      .nav-sec{
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }
    
    .nav-li{
        display: flex;
        color: rgb(201, 232, 228);
        list-style: none;
        gap: 60px;
        font-size: 15px;
        align-items: center;
    }
    
    .nav-icon{
        width: 23px;
        height: 23px;
    }
    
    .hid-1{
      display: none;
    }
    
    .bnr{
      display: flex;
      justify-content: space-between;
      margin: 80px 20px 0 40px;
      align-items: center;
     }
    
     .bnr h1{
      color: rgb(201, 232, 228);
      font-size: 40px;
      font-weight: 900;
     }
    
     .bnr-spa{
      color: #45a247; 
     }
    
    .bnr-img{
      width: 600px;
      height: 310px;
    }
    
             
    .btn {
      background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
      margin: 30px 0 0 0;
      padding: 8px 45px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: rgb(201, 232, 228);            
      border-radius: 5px;
      font-size: 14px;
    }
    
    .btn:hover {
      background-position: right center; /* change the direction of the change here */
      text-decoration: none;
    }


    .sec-1{
        flex-direction: column;
        margin: 100px 50px;
        overflow: hidden;
        padding: 0;
        text-align: center;
      } 
    
      .sect-1-texts{
        width: 100%;
      }
    
      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 30px;
      }
    
      .sect-1-texts h1{
        color: #1f232c;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        padding: 0;
        margin: 15px 0 25px 0;
      }
     
      .b1{
        display: none;
      }
    
      .sect-1-texts h4{
        font-size: 16px;
        font-weight: 800;
        color: #626262;
        padding:  0;
        margin-bottom: 20px;
        margin-inline: 50px;
      }
    
      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-inline: 50px;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .sec-1-img{
        flex-direction: column;
        padding-top: 0;
        gap: 0;
      }
    
      .sec-1-container img{
        width: 100%;
        height: 100%;
        margin-top: 30px;
      }
    
      .sec-1-container video{
        width: 100%;
        height: 100%;
        margin: 70px 0 30px 0;
      }

      .sec-2-bg{
        background-image: url(./pexels-unknown-user-1657328.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250vh;
        width: 100%;
      }
    
      .filtrs{
        height: 250vh;
        background-color: rgba(0, 0, 0, 0.76);
      }
    
      .teams-cards{
        display: flex;  
        width: 70%;
        height: 50px;
        margin: 50px auto;
        justify-content: space-between;
        background-color: rgba(0, 0, 128, 0.082);
        box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(253, 253, 253, 0.39);
        z-index: 10;
        padding-inline: 10px;
        border-radius: 5px;
    }
    
    .v-cards{
        margin-top: 45px;
      }
    
    .teams-cards h3{
        font-weight: 600;
        color: #a7c5c9;
        font-size: 16px;
    }
    
    .teams-cards .img-1{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .teams-cards .img-2{
        width: 65px;
        height: 80px;
    }
    
    .img-3{
        width: 60px;
        height: 70px;
    }

    .sec-3{
      display: none;
    }

    .sec-4{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 100px 50px;
    }
    
    .sec-4-text{
         width: 400px;
    }
    
    .sec-4-text h1{
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 10px;
      width: 270px;
    }
    
    .sec-4-text p{
       color: #626262;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       padding-bottom: 30px;
       font-size: 15px;
       width: 300px;
    }
    
    .sec-4-btn{
      background-color: #57bd6d;
      padding: 8px 30px;
      border-radius: 50px 100px;
      font-weight: 500;
      color: #1f232c;
      align-items: center;
    }
    
    .sec-4 img{
         width: 300px;
         height: 250px;
    }



    footer{
      width: 100%;
      height: 490px;
      background-image: url(./feet-soccer-player-with-soccer-ball-generative-ai_74760-3398.avif);
      background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(214, 214, 214);
    }
    
    .ftrs{
      background-color: rgba(0, 0, 0, 0.877);
      height: 490px;
      width: 100%;
    }
    
    .ftr-sec{
      display: flex;
      padding-bottom: 30px;
      justify-content: space-around;
    }
    
    .upper-text h1{
      font-size: 25px;
      padding-left: 10px;
    }
    
    .fifa-img{
      width: 70px;
      height: 50px;
    }
    
    .nd-texts h2{
      font-size: 25px;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-top: 30px;
      width: 100%;
      text-align: center;
      color: #9ea89f;
    }
    
    .sponsors-img{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 10px auto;
    }
    
    .sponsors-img img{
      width: 100px;
    }
    
    
    .third-texts{
      text-align: center;
      padding: 0;
      margin-top: 100px;
      color: #9ea89f;
    }
    
    .third-texts h1{
      font-size: 40px;
      font-weight: 900;
      color: #29a22e;
      margin-bottom: 5px;
    }
    
    .contact{
      display: none;
    }
    
    .icons-ftr ul{
      display: flex;
      font-size: 25px;
      gap: 30px;
      color: #9ea89f;
      margin: 0 20%;
      padding: 20px 0 0 0;
      width: 50%;
    }
    
    .last{
      text-align: center;
      padding-top: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #9ea89f;
      font-size: 15px;
    }

    
}



@media screen and (min-width:993px) and (max-width:1200px) {
    .filtr{
        height: 100vh;
       background-color: rgba(0, 0, 0, 0.667);
    }
    
    .hdr{
        background-image: url(./images/5634934.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    } 

    .hid-1{
        display: none;
    }

    .bnr{
        display: flex;
        justify-content: space-between;
        margin: 40px 40px 0 60px;
        align-items: center;
       }
    
       .bnr h1{
        color: rgb(201, 232, 228);
        font-size: 50px;
        font-weight: 900;
       }


       .btn {
        background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
        margin: 30px 0 0 0;
        padding: 8px 50px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(201, 232, 228);            
        border-radius: 5px;
        font-size: 18px;
      }

      .bnr-img{
        width: 600px;
        height: 350px;
      }

      .sec-1{
        display: flex;
        justify-content: space-between;
        padding: 100px 30px;
      }
      
      .sect-1-texts{
        width: 580px;
      }
    
      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 27px;
      }
    
      .sect-1-texts h1{
        color: #1f232c;
        font-size: 27px;
        font-weight: 900;
        padding-top: 10px;
      }
    
      .sect-1-texts h4{
        font-size: 15px;
        font-weight: 800;
        color: #626262;
        padding:  20px 0 20px 15px;
        width: 400px;
        text-align: center;
      }
    
      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 390px;
        text-align: center;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 16px;
        padding-top: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }
    
      .b1{
        border-left: 3px solid green;
        height: 60px;
        margin-top: 23px;
        position: absolute;
      }
    
      .sec-1-img{
        display: flex;
        padding-top: 17px;
        gap: 10px;
      }
    
      .sec-1-container img{
        width: 220px;
        height: 170px;
      }
    
      .sec-1-container video{
        width: 533px;
        height: 270px;
      }

      .button{
        margin-left: 100px;
      }
     
      .sec-2-bg{
        background-image: url(./pexels-unknown-user-1657328.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250vh;
        width: 100%;
      }
    
      .filtrs{
        height: 250vh;
        background-color: rgba(0, 0, 0, 0.76);
      }
    
      .teams-cards{
        display: flex;  
        width: 60%;
        height: 55px;
        margin: 50px auto;
        justify-content: space-between;
        background-color: rgba(0, 0, 128, 0.082);
        box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(253, 253, 253, 0.39);
        z-index: 10;
        padding-inline: 10px;
        border-radius: 5px;
    }
    
    .v-cards{
        margin-top: 45px;
      }
    
    .teams-cards h3{
        font-weight: 600;
        color: #a7c5c9;
        font-size: 17px;
    }
    
    .teams-cards .img-1{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .teams-cards .img-2{
        width: 65px;
        height: 80px;
    }
    
    .img-3{
        width: 60px;
        height: 70px;
    }

    .sec-3{
      display: none;
    }

    .sec-4{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 50px ;
    }
    
    .sec-4-text{
         width: 450px;
    }
    
    .sec-4-text h1{
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    
    .sec-4-text p{
       color: #626262;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       padding-bottom: 30px;
    }
    
    .sec-4-btn{
      background-color: #57bd6d;
      padding: 10px 30px;
      border-radius: 50px 100px;
      font-weight: 500;
      color: #1f232c;
      align-items: center;
    }
    
    .sec-4 img{
         width: 450px;
         height: 350px;
    }



    footer{
      width: 100%;
      height: 490px;
      background-image: url(./feet-soccer-player-with-soccer-ball-generative-ai_74760-3398.avif);
      background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(214, 214, 214);
    }
    
    .ftrs{
      background-color: rgba(0, 0, 0, 0.877);
      height: 490px;
      width: 100%;
    }
    
    .ftr-sec{
      display: flex;
      padding-bottom: 30px;
      justify-content: space-around;
    }
    
    .upper-text h1{
      font-size: 25px;
      padding-left: 10px;
    }
    
    .fifa-img{
      width: 70px;
      height: 50px;
    }
    
    .nd-texts h2{
      font-size: 25px;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding-top: 30px;
      width: 100%;
      text-align: center;
      color: #9ea89f;
    }
    
    .sponsors-img{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 10px auto;
    }
    
    .sponsors-img img{
      width: 100px;
    }
    
    
    .third-texts{
      text-align: center;
      padding: 0;
      margin-top: 100px;
      color: #9ea89f;
    }
    
    .third-texts h1{
      font-size: 40px;
      font-weight: 900;
      color: #29a22e;
      margin-bottom: 5px;
    }
    
    .contact{
      display: none;
    }
    
    .icons-ftr ul{
      display: flex;
      font-size: 25px;
      gap: 30px;
      color: #9ea89f;
      margin: 0 20%;
      padding: 20px 0 0 0;
      width: 50%;
    }
    
    .last{
      text-align: center;
      padding-top: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #9ea89f;
      font-size: 15px;
    }

}