@media screen and (max-width:576px) {
    .hdr{
        background-image: url(./images/players/5205447.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .filtr{
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.62);
    }

    .nav-main{
        visibility: hidden;
    }

    .bnr{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 10px 0 10px;
   }

    .bnr h1{
        color: rgb(201, 232, 228);
        font-size: 47px;
        font-weight: 900;
       }

       .bnr-img{
       visibility: hidden;
      }  

      .btn {
        background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
        margin: 30px 0 0 0;
        padding: 10px 50px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(201, 232, 228);            
        border-radius: 10px;
        font-size: 18px;
      }
    
      .btn:hover {
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
      }
     
      .eyes{
        margin-right: 5px;
      }

      .sec-1{
        flex-direction: column;
        margin: 100px 25px;
        overflow: hidden;
        padding: 0;
        text-align: center;
      } 

      .sect-1-texts{
        width: 100%;
      }

      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 30px;
      }

      .sect-1-texts h1{
        color: #1f232c;
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        padding: 0;
        margin: 15px 0 25px 0;
      }
     
      .b1{
        display: none;
      }

      .sect-1-texts h4{
        display: none;
      }

      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .sec-1-img{
        flex-direction: column;
        padding-top: 0;
        gap: 0;
      }

      .sec-1-container img{
        width: 100%;
        height: 100%;
        margin-top: 20px;
      }

      .sec-1-container video{
        width: 100%;
        height: 100%;
        margin: 70px 0 30px 0;
      }

}



@media screen and (min-width:577px) and (max-width:768px) {
  
  .filtr{
    height: 100vh;
   background-color: rgba(0, 0, 0, 0.62);
}

.hdr{
    background-image: url(./images/m.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-sec{
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.nav-li{
  display: flex;
  color: rgb(201, 232, 228);
  list-style: none;
  gap: 50px;
  font-size: 12px;
  align-items: center;
}

.nav-icon{
  width: 23px;
  height: 23px;
}

       
.icons-nav {
  background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
  transition: 0.5s;
  background-size: 200% auto;
  padding: 4px 20px;  
  gap: 3px; 
  font-size: 13px;
  align-items: center;
  border-radius: 5px;
  color: rgb(201, 204, 232);  
  display: flex;    
}

.icons-nav:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.nav-li{
  display: flex;
  color: rgb(201, 232, 228);
  list-style: none;
  gap: 50px;
  font-size: 14px;
  align-items: center;
}

.nav-li .hid {
  display: none;
}

.bnr{
  display: flex;
  justify-content: space-between;
  margin: 85px 30px 50px 20px;
  align-items: center;
 }

 .bnr-img{
  width: 380px;
  height: 225px;
}

.bnr h1{
  color: rgb(201, 232, 228);
  font-size: 32px;
  font-weight: 900;
 }

 .btn {
  background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
  margin: 30px 0 0 0;
  padding: 7px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(201, 232, 228);            
  border-radius: 5px;
  font-size: 14px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.eyes{
  margin-right: 4px;
}


.sec-1{
    flex-direction: column;
    margin: 100px 50px;
    overflow: hidden;
    padding: 0;
    text-align: center;
  } 

  .sect-1-texts{
    width: 100%;
  }

  .sect-1-texts h3{
    color: #57bd6d;
    font-weight: 600;
    font-size: 30px;
  }

  .sect-1-texts h1{
    color: #1f232c;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 15px 0 25px 0;
  }
 
  .b1{
    display: none;
  }

  .sect-1-texts h4{
    display: none;
  }

  .sect-1-texts p{
    color: #626262;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .p2{
    color: #626262;
    font-weight: lighter;
    font-size: 15px;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .sec-1-img{
    flex-direction: column;
    padding-top: 0;
    gap: 0;
  }

  .sec-1-container img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }

  .sec-1-container video{
    width: 100%;
    height: 100%;
    margin: 70px 0 30px 0;
  }

}



@media screen and (min-width:769px) and (max-width:992px) {
    .filtr{
        height: 100vh;
       background-color: rgba(0, 0, 0, 0.667);
    }
    
    .hdr{
        background-image: url(./images/players/5205447.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    
      .nav-sec{
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }
    
    .nav-li{
        display: flex;
        color: rgb(201, 232, 228);
        list-style: none;
        gap: 60px;
        font-size: 15px;
        align-items: center;
    }
    
    .nav-icon{
        width: 23px;
        height: 23px;
    }
    
    .hid-1{
      display: none;
    }
    
    .bnr{
      display: flex;
      justify-content: space-between;
      margin: 80px 20px 0 40px;
      align-items: center;
     }
    
     .bnr h1{
      color: rgb(201, 232, 228);
      font-size: 40px;
      font-weight: 900;
     }
    
     .bnr-spa{
      color: #45a247; 
     }
    
    .bnr-img{
      width: 600px;
      height: 310px;
    }
    
             
    .btn {
      background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
      margin: 30px 0 0 0;
      padding: 8px 45px;
      text-align: center;
      transition: 0.5s;
      background-size: 200% auto;
      color: rgb(201, 232, 228);            
      border-radius: 5px;
      font-size: 14px;
    }
    
    .btn:hover {
      background-position: right center; /* change the direction of the change here */
      text-decoration: none;
    }


    .sec-1{
        flex-direction: column;
        margin: 100px 50px;
        overflow: hidden;
        padding: 0;
        text-align: center;
      } 
    
      .sect-1-texts{
        width: 100%;
      }
    
      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 30px;
      }
    
      .sect-1-texts h1{
        color: #1f232c;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        padding: 0;
        margin: 15px 0 25px 0;
      }
     
      .b1{
        display: none;
      }
    
      .sect-1-texts h4{
        font-size: 16px;
        font-weight: 800;
        color: #626262;
        padding:  0;
        margin-bottom: 20px;
        margin-inline: 50px;
      }
    
      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-inline: 50px;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 15px;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    
      .sec-1-img{
        flex-direction: column;
        padding-top: 0;
        gap: 0;
      }
    
      .sec-1-container img{
        width: 100%;
        height: 100%;
        margin-top: 30px;
      }
    
      .sec-1-container video{
        width: 100%;
        height: 100%;
        margin: 70px 0 30px 0;
      }
    
}



@media screen and (min-width:993px) and (max-width:1200px) {
    .filtr{
        height: 100vh;
       background-color: rgba(0, 0, 0, 0.667);
    }
    
    .hdr{
        background-image: url(./images/5634934.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    } 

    .hid-1{
        display: none;
    }

    .bnr{
        display: flex;
        justify-content: space-between;
        margin: 40px 40px 0 60px;
        align-items: center;
       }
    
       .bnr h1{
        color: rgb(201, 232, 228);
        font-size: 50px;
        font-weight: 900;
       }


       .btn {
        background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
        margin: 30px 0 0 0;
        padding: 8px 50px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: rgb(201, 232, 228);            
        border-radius: 5px;
        font-size: 18px;
      }

      .bnr-img{
        width: 600px;
        height: 350px;
      }

      .sec-1{
        display: flex;
        justify-content: space-between;
        padding: 100px 30px;
      }
      
      .sect-1-texts{
        width: 580px;
      }
    
      .sect-1-texts h3{
        color: #57bd6d;
        font-weight: 600;
        font-size: 27px;
      }
    
      .sect-1-texts h1{
        color: #1f232c;
        font-size: 27px;
        font-weight: 900;
        padding-top: 10px;
      }
    
      .sect-1-texts h4{
        font-size: 15px;
        font-weight: 800;
        color: #626262;
        padding:  20px 0 20px 15px;
        width: 400px;
        text-align: center;
      }
    
      .sect-1-texts p{
        color: #626262;
        font-weight: lighter;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 390px;
        text-align: center;
      }
    
      .p2{
        color: #626262;
        font-weight: lighter;
        font-size: 16px;
        padding-top: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }
    
      .b1{
        border-left: 3px solid green;
        height: 60px;
        margin-top: 23px;
        position: absolute;
      }
    
      .sec-1-img{
        display: flex;
        padding-top: 17px;
        gap: 10px;
      }
    
      .sec-1-container img{
        width: 220px;
        height: 170px;
      }
    
      .sec-1-container video{
        width: 533px;
        height: 270px;
      }

      .button{
        margin-left: 100px;
      }
     
}