*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


.filtr{
    height: 100vh;
   background-color: rgba(0, 0, 0, 0.667);
}

.hdr{
    background-image: url(./images/5634934.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-sec{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
}

.nav-li{
    display: flex;
    color: rgb(201, 232, 228);
    list-style: none;
    gap: 60px;
    font-size: 17px;
    align-items: center;
}

.nav-icon{
    width: 25px;
    height: 25px;
}

         
.icons-nav {
    background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
    transition: 0.5s;
    background-size: 200% auto;
    padding: 10px 28px;  
    gap: 3px; 
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    color: rgb(201, 204, 232);  
    display: flex;    
  }

  .icons-nav:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
   .bnr{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0 60px;
    align-items: center;
   }

   .bnr h1{
    color: rgb(201, 232, 228);
    font-size: 70px;
    font-weight: 900;
   }

   .bnr-spa{
    color: #57bd6d; 
   }

  .bnr-img{
    width: 650px;
    height: 400px;
  }

           
  .btn {
    background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
    margin: 35px 0 0 0;
    padding: 10px 60px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(201, 232, 228);            
    border-radius: 5px;
    font-size: 18px;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
  }
 
  .eyes{
    margin-right: 5px;
  }



  .sec-1{
    display: flex;
    justify-content: space-between;
    margin: 100px;
  }
  
  .sect-1-texts{
    width: 550px;
  }

  .sect-1-texts h3{
    color: #57bd6d;
    font-weight: 600;
    font-size: 25px;
  }

  .sect-1-texts h1{
    color: #1f232c;
    font-size: 35px;
    font-weight: 900;
    margin-top: 10px;
  }

  .sect-1-texts h4{
    font-size: 16px;
    font-weight: 800;
    color: #626262;
    margin:  20px 0 20px 15px;
  }

  .sect-1-texts p{
    color: #626262;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .p2{
    color: #626262;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .b1{
    border-left: 3px solid green;
    height: 60px;
    margin-top: 15px;
    position: absolute;
  }

  .sec-1-img{
    display: flex;
    margin-top: 15px;
    gap: 20px;
  }

  .sec-1-container img{
    width: 240px;
    height: 170px;
  }

  .sec-1-container video{
    width: 500px;
    height: 290px;
  }


  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: #57bd6d;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px 40px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }
