*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


.filtr{
    height: 100vh;
   background-color: rgba(0, 0, 0, 0.667);
}

.hdr{
    background-image: url(./images/5634934.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-sec{
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
}

.nav-li{
    display: flex;
    color: rgb(201, 232, 228);
    list-style: none;
    gap: 60px;
    font-size: 17px;
    align-items: center;
}

.nav-icon{
    width: 25px;
    height: 25px;
}

         
.icons-nav {
    background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
    transition: 0.5s;
    background-size: 200% auto;
    padding: 10px 28px;  
    gap: 3px; 
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    color: rgb(201, 204, 232);  
    display: flex;    
  }

  .icons-nav:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
   .bnr{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 0 60px;
    align-items: center;
   }

   .bnr h1{
    color: rgb(201, 232, 228);
    font-size: 70px;
    font-weight: 900;
   }

   .bnr-spa{
    color: #57bd6d; 
   }

  .bnr-img{
    width: 650px;
    height: 400px;
  }

           
  .btn {
    background-image: linear-gradient(to right, #0d414f 0%, #458453  51%, #166378  100%);
    margin: 35px 0 0 0;
    padding: 10px 60px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(201, 232, 228);            
    border-radius: 5px;
    font-size: 18px;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
  }
 
  .eyes{
    margin-right: 5px;
  }



  .sec-1{
    display: flex;
    justify-content: space-between;
    padding: 100px;
  }
  
  .sect-1-texts{
    width: 550px;
  }

  .sect-1-texts h3{
    color: #57bd6d;
    font-weight: 600;
    font-size: 25px;
  }

  .sect-1-texts h1{
    color: #1f232c;
    font-size: 35px;
    font-weight: 900;
    padding-top: 10px;
  }

  .sect-1-texts h4{
    font-size: 16px;
    font-weight: 800;
    color: #626262;
    padding:  20px 0 20px 15px;
  }

  .sect-1-texts p{
    color: #626262;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .p2{
    color: #626262;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .b1{
    border-left: 3px solid green;
    height: 60px;
    margin-top: 15px;
    position: absolute;
  }

  .sec-1-img{
    display: flex;
    padding-top: 15px;
    gap: 20px;
  }

  .sec-1-container img{
    width: 240px;
    height: 170px;
  }

  .sec-1-container video{
    width: 500px;
    height: 290px;
  }


  .button {
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    background-color: #57bd6d;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    padding: 10px 40px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .3s;
  }
  
  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
  }
  
  .button:hover .button__icon-wrapper {
    color: #000;
  }
  
  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__icon-svg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon-svg--copy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }




  .sec-2-bg{
    background-image: url(./images/players/college-football-stadium-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 215vh;
    width: 100%;
  }

  .filtrs{
    height: 215vh;
    background-color: rgba(0, 0, 0, 0.76);
  }

  .v-cards{
    margin-top: 60px;
  }

.sec-2-text h2{
       font-size: 35px;
       color: #bbd6dada;
       text-align: center;
       font-weight: 900;
       padding-top: 30px;
       padding-bottom: 15px;
}

.sec-2-text p{
    font-size: 26px;
    color: #a0dfe7da;
    text-align: center;
}

.teams-cards{
    display: flex;  
    width: 42%;
    height: 53px;
    margin: 65px auto;
    justify-content: space-between;
    background-color: rgba(0, 0, 128, 0.096);
    box-shadow: 20px 20px 50px rgba(57, 57, 57, 0.135);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(253, 253, 253, 0.39);
    z-index: 10;
    padding-inline: 10px;
    border-radius: 5px;
}

.teams-cards h3{
    font-weight: 600;
    color: #a7c5c9;
}
   
.text-cards{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
}
.text-cardss{
    display: flex;
    align-items: center;

}
 
.text-cardss-1{
    gap: 20px;
    display: flex;
}

.text-cardss-2{
    gap: 35px;
    display: flex;
}

.hr-2{
   padding-right: 18px;
}

.teams-cards .img-1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.teams-cards .img-2{
    width: 90px;
    height: 100px;
}

.img-3{
    width: 90px;
    height: 90px;
}


.sec-3{
   width: 100%;
   height: 100%;
}

.sec-3-text h1{
  font-size: 65px;
  font-weight: 900;
  color: #080909;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec-3-text{
  text-align: center;
  padding: 50px 0;
}

.sec-3-text p{
  font-size: 28px;
  position: absolute;
  left: 51%;
  color: #777777e1;
  font-family: Arial, Helvetica, sans-serif;
}

.sec-3-cards{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='669' preserveAspectRatio='none' viewBox='0 0 1440 669'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1141%26quot%3b)' fill='none'%3e%3cpath d='M -611.9712585478755%2c155.5 C -323.97%2c197.7 252.03%2c360.5 828.0287414521245%2c366.5 C 1404.03%2c372.5 2145.63%2c157.3 2268.0287414521245%2c185.5 C 2390.42%2c213.7 1605.61%2c443.1 1440%2c507.5' stroke='rgba(137%2c 237%2c 127%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -691.4598877259397%2c185.5 C -403.46%2c254.7 172.54%2c505.5 748.5401122740603%2c531.5 C 1324.54%2c557.5 2050.25%2c330.5 2188.5401122740604%2c315.5 C 2326.83%2c300.5 1589.71%2c428.3 1440%2c456.5' stroke='rgba(137%2c 237%2c 127%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1514.9915149738586%2c266.5 C -1226.99%2c316.9 -650.99%2c526.3 -74.99151497385867%2c518.5 C 501.01%2c510.7 1062.01%2c262.9 1365.0084850261414%2c227.5 C 1668.01%2c192.1 1425%2c318.7 1440%2c341.5' stroke='rgba(137%2c 237%2c 127%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1814.0384363365556%2c577.5 C -1526.04%2c512.5 -950.04%2c268.7 -374.0384363365557%2c252.5 C 201.96%2c236.3 703.15%2c505.1 1065.9615636634444%2c496.5 C 1428.77%2c487.9 1365.19%2c266.9 1440%2c209.5' stroke='rgba(137%2c 237%2c 127%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1552.5185860613183%2c544.5 C -1264.52%2c454.9 -688.52%2c119.3 -112.51858606131816%2c96.5 C 463.48%2c73.7 1016.98%2c400.3 1327.4814139386817%2c430.5 C 1637.99%2c460.7 1417.5%2c284.1 1440%2c247.5' stroke='rgba(137%2c 237%2c 127%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1141'%3e%3crect width='1440' height='669' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
}

.sec-3-cards-1 h1{
  font-size: 160px;
  font-weight: 900;
  font-family: sans-serif;
  color: #9ea89f;
  left: 22%;
  position: absolute;
}

.sec-3-cards-1 p{
   width: 250px;
   position: absolute;
   left: 31%;
   color: #666666;
  font-size: 19px;
  top: 480%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-3-cards-2 h1{
  font-size: 160px;
  font-weight: 900;
  font-family: sans-serif;
  color: #9ea89f;
  position: absolute;
  left: 55%;
  top: 460%;
}

.sec-3-cards-2 p{
  width: 255px;
  position: absolute;
  left: 65%;
  color: #666666;
 font-size: 19px;
 top: 492%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-3-cards-3 h1{
  font-size: 160px;
  font-weight: 900;
  font-family: sans-serif;
  color: #9ea89f;
  left: 22%;
  position: absolute;
  top: 505%;
}

.sec-3-cards-3 p{
  width: 250px;
   position: absolute;
   left: 31%;
   color: #666666;
  font-size: 19px;
  top: 537%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-3-cards-4 h1{
  font-size: 160px;
  font-weight: 900;
  font-family: sans-serif;
  color: #9ea89f;
  position: absolute;
  left: 55%;
  top: 520%;
}

.sec-3-cards-4 p{
  width: 255px;
  position: absolute;
  left: 65%;
  color: #666666;
 font-size: 19px;
 top: 552%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-3-cards h1:hover{
  color: #000;
  padding-top: 5px;
  transition-duration: 0.5s;
}




.sec-4{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 180px 100px 180px ;
}

.sec-4-text{
     width: 450px;
}

.sec-4-text h1{
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}

.sec-4-text p{
   color: #626262;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding-bottom: 30px;
}

.sec-4-btn{
  background-color: #57bd6d;
  padding: 10px 30px;
  border-radius: 50px 100px;
  font-weight: 500;
  color: #1f232c;
  align-items: center;
}

.sec-4 img{
     width: 450px;
     height: 350px;
}